<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Ropa en Línea</title>
    <link rel="stylesheet" href="../css/index.css"> <!-- Enlace a tu hoja de estilos CSS -->
</head>
<body>
    <header>
        <h1>El Portal de la Moda</h1>
        <nav>
            <ul>
                <li><a href="../html/index.html">Inicio</a></li>
                <li><a href="../html/productos.html">Catálogo</a></li>
                <li><a href="../html/ofertas.html">Ofertas</a></li>
                <li><a href="../html/contacto.html">Contacto</a></li>
                <li><a href="../html/login.html">Login</a></li>
            </ul>
        </nav>
    </header>

    <section class="destacados">
        <h2>Productos Destacados</h2>

        <!-- Producto 1-->
        <div>
            <img src="../img/Chumpa Gris.jpg" alt="producto 1" class="imgProducto">
            <div class="informacion">
                <p>Producto 1</p>
                <P>Descripción </P>
                <p class="precio">Q.200.00</p>
                <button>Comprar</button>
            </div>
        </div>

        <!-- Producto 1-->
        <div>
            <img src="../img/Chumpa Gris.jpg" alt="producto 1" class="imgProducto">
            <div class="informacion">
                <p>Producto 1</p>
                <p>Descripción</p>
                <p class="precio">Q.200.00</p>
                <button>Comprar</button>
            </div>
        </div>
    </section>

    <section class="catalogo">
        <h2>Catálogo de Ropa</h2>
        <!-- Aquí puedes listar productos en diferentes categorías -->
    </section>

    <section class="ofertas">
        <h2>Ofertas Especiales</h2>
        <!-- Aquí puedes mostrar productos en oferta -->
    </section>

    <footer>
        <div class="redes-sociales">
            <a href="#"><img src="../img/iconos/icon/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="../img/iconos/icon/whatsapp.png" alt="WhatsApp"></a>
            <a href="https://www.facebook.com/people/MTA-El-Portal-De-La-Moda/100090363232444/?mibextid=ZbWKwL"><img src="../img/iconos/icon/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="../img/iconos/icon/ubicacion.png" alt="Ubicación"></a>
            <a href="#"><img src="../img/iconos/icon/horario.png" alt="Horario"></a>
            <a href="#"><img src="../img/iconos/icon/telefono.png" alt="Teléfono"></a>
        </div>
        <p>&copy; El portal de la moda. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
