<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Ropa en Línea</title>
    <link rel="stylesheet" href="../css/ofertas.css"> <!-- Enlace a tu hoja de estilos CSS -->
</head>
<body>
    <header>
        <h1>Ofertas</h1>
        <nav>
            <ul>
                <li><a href="../html/index.html">Inicio</a></li>
                <li><a href="../html/productos.html">Catálogo</a></li>
                <li><a href="../html/ofertas.html">Ofertas</a></li>
                <li><a href="../html/contacto.html">Contacto</a></li>
                <li><a href="../html/login.html">Login</a></li>
            </ul>
        </nav>
    </header>

    <section class="ofertas">
        <h2>Nuestras Ofertas Especiales</h2>
        <!-- Aquí puedes listar productos en oferta -->

        <!-- Producto 1 -->
        <div class="producto">
            <img src="../img/Polo 1.jpg" alt="Oferta 1" class="imgProducto">
            <h3>Producto en Oferta 1</h3>
            <p>Descripción del producto en oferta 1.</p>
            <p class="precio-oferta">Precio: Q50.00</p>
            <p class="precio-original">Precio Original: Q80.00</p>
        </div>

        <!-- Producto 2 -->
        <div class="producto">
            <img src="../img/Polo 2.jpg" alt="Oferta 2" class="imgProducto">
            <h3>Producto en Oferta 2</h3>
            <p>Descripción del producto en oferta 2.</p>
            <p class="precio-oferta">Precio: Q40.00</p>
            <p class="precio-original">Precio Original: Q60.00</p>
        </div>

        <!-- Agrega más productos en oferta según sea necesario -->

    </section>

    <footer>
        <div class="redes-sociales">
            <a href="#"><img src="../img/iconos/icon/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="../img/iconos/icon/whatsapp.png" alt="WhatsApp"></a>
            <a href="https://www.facebook.com/people/MTA-El-Portal-De-La-Moda/100090363232444/?mibextid=ZbWKwL"><img src="../img/iconos/icon/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="../img/iconos/icon/ubicacion.png" alt="Ubicación"></a>
            <a href="#"><img src="../img/iconos/icon/horario.png" alt="Horario"></a>
            <a href="#"><img src="../img/iconos/icon/telefono.png" alt="Teléfono"></a>
        </div>
        <p>&copy; El portal de la moda. Todos los derechos reservados.</p>
    </footer>
</body>
</html>